body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03125rem; }

label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0075rem; }

thead {
  letter-spacing: 0.009375rem; }

.warning p, .footer {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0071rem; }

.above_timepicker .back_to_datepicker p, a.next, a.done {
  font-size: 0.875rem;
  letter-spacing: 0.0536rem;
  font-weight: 500;
  text-transform: uppercase; }

.above_timepicker .user_timezone {
  font-size: 0.625rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }

html {
  font-size: 16px; }

#loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/preloader.gif) center no-repeat #fff; }

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #9E9E9E;
  font-size: 1.125em; }
  input :focus {
    border: #616161; }

#W1, #W2, #W3 {
  display: none; }

.above_timepicker {
  margin-top: 20px; }
  .above_timepicker .back_to_datepicker p {
    display: inline-block;
    color: #1E88E5;
    cursor: pointer;
    padding-bottom: 15px; }
  .above_timepicker .user_timezone {
    text-align: center; }

.warning p {
  color: #d32f2f;
  text-align: center; }

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }

label {
  margin: 15px 0; }

thead {
  background: #1E88E5;
  color: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  thead tr {
    background: #1E88E5; }
    thead tr th {
      background: #1E88E5; }

#datepicker {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.datepicker {
  width: 100%;
  border-radius: 5px; }
  .datepicker table tr td {
    text-align: center;
    height: 38px;
    border-radius: 0;
    border: 0; }
    .datepicker table tr td.disabled, .datepicker table tr td.old, .datepicker table tr td.new {
      color: #ccc; }
    .datepicker table tr td .span.active {
      background-color: #1565C0; }
    .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active:active {
      color: #fff;
      background-color: #1565C0; }
      .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active.highlighted.active.focus, .datepicker table tr td.active:active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active:active.focus {
        color: #fff;
        background-color: #1565C0; }
  .datepicker table tr th {
    text-align: center;
    height: 35px;
    border-radius: 0;
    border: 0; }
    .datepicker table tr th.prev {
      border-top-left-radius: 5px; }
      .datepicker table tr th.prev.disabled {
        visibility: visible; }
    .datepicker table tr th.next {
      border-top-right-radius: 5px; }
      .datepicker table tr th.next.disabled {
        visibility: visible; }
  .datepicker .datepicker-switch:hover,
  .datepicker .prev:hover,
  .datepicker .next:hover,
  .datepicker tfoot tr th:hover {
    background: #1565C0; }

.datepicker-inline,
.table-condensed {
  width: 100%;
  border-radius: 5px; }

th.dow {
  color: #fafafa; }

.ui-timepicker-wrapper {
  overflow-y: auto;
  max-height: calc(30% + 10px);
  width: calc(100vw - 30px);
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
  z-index: 10052;
  margin: 0; }
  .ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30, .ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
    width: 92.5%; }

.ui-timepicker-list {
  background: #fff;
  color: #fff;
  margin: 0;
  padding: 0;
  list-style: none; }
  .ui-timepicker-list:hover {
    background: #fff;
    color: #000; }
  .ui-timepicker-list li {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    list-style: none;
    margin: 0;
    text-align: center;
    font-size: 1.125rem; }
    .ui-timepicker-list li.ui-timepicker-disabled, .ui-timepicker-list li.ui-timepicker-disabled:hover, .ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
      color: #888;
      cursor: default;
      display: none; }
    .ui-timepicker-list li.ui-timepicker-disabled:hover, .ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
      background: #f2f2f2; }
    .ui-timepicker-list li:hover .ui-timepicker-duration {
      color: #fafafa; }
  .ui-timepicker-list .ui-timepicker-selected:hover {
    background: #1565C0;
    color: #fff; }

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888; }

.ui-timepicker-selected {
  background: #fafafa;
  color: #000; }

li.ui-timepicker-selected,
li.ui-timepicker-selected .ui-timepicker-duration, li:hover {
  background: #1565C0;
  color: #fafafa; }

a.next, a.done {
  background-color: #1E88E5;
  text-decoration: none;
  color: #fafafa;
  width: 100%;
  display: inline-block;
  padding: 14px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  margin: 40px auto 0; }
  a.next:hover, a.next:focus, a.done:hover, a.done:focus {
    background-color: #1565C0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fafafa;
    text-decoration: none; }

.timeend {
  padding-top: 40px; }

.footer {
  margin: 75px 0 0;
  width: 100%;
  display: block; }
